<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      SK Enocean Gateway
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/devices">
            Devices
          </a>
    
          <a class="navbar-item" routerLink='/monitor'>
            Monitor
          </a>
          </div>
          </div>
  </div>
</nav>
<router-outlet></router-outlet>