extends layout

block content
  h1 SK Enocean Gateway
  p Welcome to the easy and stable Enocean Gateway based on Enocean Pi. 
  p You are running Version: #{version}
  h2 Quick Start
  ul
    li  
        a(href="/ui") Management Interface
    li  
      a(href="/api-docs") API Documentation
